<breadcrumb [title]="'Apps'" [subtitle]="'Users'"/>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4 justify-content-between">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..."
                                   [(ngModel)]="filter.search"
                                   aria-label="Search">
                            <button class="btn btn-primary" type="button" (click)="onSearch();">
                                <svg viewBox="0 0 24 24" width="17" height="17" stroke="currentColor" stroke-width="2"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-sm float-end" type="button"
                                style="margin-right: 20px;" (click)="goToAdd()">
                            <svg viewBox="0 0 24 24" width="17" height="17" stroke="currentColor" stroke-width="2"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                            Add
                        </button>

                        <button class="btn btn-outline-success btn-sm float-end me-2" type="button" (click)="toggleFilters()">
                            <i class="mdi mdi-filter"></i> Filters
                        </button>

                         <button class="btn btn-outline-success btn-sm float-end me-2" type="button" (click)="excelDownload()">
                            <i class="mdi mdi-file-excel"></i> Excel
                        </button>
                    </div>
                </div>
                <div class="row mb-3" *ngIf="showFilters">
                    <div class="col-md-3">
                        <label>Department</label>
                        <select class="form-select" [(ngModel)]="filter.department_id"  (change)="onFilterChange()">
                            <option value="">All</option>
                            <option *ngFor="let dept of departments" [value]="dept.id">
                                {{dept.code +' | '+ dept.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Designation</label>
                        <select class="form-select" (change)="onFilterChange()" [(ngModel)]="filter.designation_id">
                            <option value="">All</option>
                            <option *ngFor="let desig of designations" [value]="desig.id">{{ desig.title }} | {{desig.description}}</option>
                        </select>
                    </div>


                    <div class="col-md-3">
                        <label>Reoprting Manger</label>
                        <select class="form-select" (change)="onFilterChange()" [(ngModel)]="filter.manager_id">
                            <option value="">All</option>
                            <option *ngFor="let mgr of managers" [ngValue]="mgr.id">
                            {{ mgr.first_name }} {{ mgr.last_name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Location</label>
                        <select class="form-select" (change)="onFilterChange()" [(ngModel)]="filter.location_id">
                            <option value="">All</option>
                            <option *ngFor="let loc of locations" [value]="loc.id">{{ loc.location_name }}</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-sm btn-outline-success float-end" (click)="resetFilters()">Clear</button>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table datatable datatable-table" id="datatable_1">
                        <thead>
                        <tr>
                            <th class="ps-0" width="2%"> #</th>
                            <th class="ps-0" width="5%">{{'avatar' | transloco}}</th>
                            <th class="ps-0" width="15%"> {{ 'employee_code' | transloco }}</th>
                            <th class="ps-0" width="10%"> {{ 'name' | transloco }}</th>
                            <!-- <th class="ps-0" width="10%"> {{ 'last_name' | transloco }}</th> -->
                            <th class="ps-0" width="10%"> {{ 'email' | transloco }}</th>
                            <th class="ps-0" width="10%" > {{ 'designation' | transloco }}</th>
                            <th class="ps-0" width="10%"> {{ 'department' | transloco }}</th>
                            <th class="ps-0" width="10%"> {{ 'status' | transloco }}</th>
                            <th class="ps-0" width="15%">{{ 'action' | transloco }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngIf="isLoading">
                            <td colspan="5" class="text-center">
                                <div class="spinner-border m-2" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <ng-container *ngIf="!isLoading">
                            <tr *ngFor="let user of users?.data; let i = index">
                                <td class="ps-0">
                                    {{ users?.from + i }}
                                </td>
                                <td class="ps-0">
                                    <img 
                                     [src]="user?.details?.profile_image ? user.details.profile_image : (user?.details?.gender == 1 ? 'assets/images/users/male.jpg' : 'assets/images/users/female.jpg')" class="img-fluid rounded-circle avatar-sm" alt="User Avatar">                             
                                </td>
                                <td class="ps-0">
                                    {{ user?.details?.employee_code || "N/A" }}
                                </td>
                                <td class="ps-0">
                                    {{ user?.first_name || "N/A" }}
                                </td>
                                <!-- <td class="ps-0">
                                    {{ user?.last_name || "N/A" }}
                                </td> -->
                                <td class="ps-0">
                                    {{ user?.email || "N/A" }}
                                </td>
                                <td class="ps-0" title="{{ user?.details?.designation?.description || 'N/A' }}">
                                    {{ user?.details?.designation?.title || "N/A" }}
                                </td>
                                <td class="ps-0" title="{{ user?.details?.department?.name || 'N/A' }}">
                                    {{ user?.details?.department?.code  || "N/A" }}
                                </td>
                                <td>
                                    <app-active-status [status]="user?.is_active"></app-active-status>
                                </td>
                                <td class="text-end" >
                                    <a
                                            href="javascript:void(0);"
                                            class="btn btn-sm bg-primary-subtle me-1"
                                            data-bs-toggle="tooltip"
                                            (click)="goToEdit(user)"
                                            data-bs-original-title="Edit"
                                    >
                                        <i class="mdi mdi-pencil-outline fs-14 text-primary"></i>
                                    </a>
                                    <a
                                            href="javascript:void(0);"
                                            class="btn btn-sm bg-warning-subtle me-1"
                                            data-bs-toggle="tooltip"
                                            (click)="onResetPassword(user?.id)"
                                            data-bs-original-title="Reset Password"
                                    >
                                        <svg viewBox="0 0 24 24" width="14" height="14" stroke="currentColor"
                                             stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                             class="css-i6dzq1">
                                            <path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                                            </path>
                                        </svg>
                                    </a>
                                    <a
                                            href="javascript:void(0);"
                                            class="btn btn-sm bg-danger-subtle"
                                            data-bs-toggle="tooltip"
                                            (click)="showDeleteAlert(user?.id)"
                                            data-bs-original-title="Delete"
                                    >
                                        <i class="mdi mdi-delete fs-14 text-danger"></i>
                                    </a>

                                </td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="users?.data?.length === 0">
                            <td colspan="8" class="text-center">
                                <h6 class="text-muted mt-5">No Records found</h6>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3" *ngIf="users?.data?.length > 0">
                    <div class="col-sm-4">
                        <div class="datatable-dropdown mb-2">
                            <label>
                                <select
                                        class="datatable-selector"
                                        name="per-page"
                                        (change)="onRowsChange($event)"
                                >
                                    <option value="5">5</option>
                                    <option value="10" selected="">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select>
                                entries per page
                            </label>
                        </div>

                    </div>
                    <div class="col-sm-8" *ngIf="!isLoading">
                        <ngb-pagination
                                class="d-flex justify-content-end"
                                [collectionSize]="users?.total"
                                [pageSize]="users?.per_page"
                                [page]="users?.current_page"
                                (pageChange)="onPageChange($event)"
                                aria-label="Custom pagination"
                        >
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>Next</ng-template>
                        </ngb-pagination>
                    </div>
                    <nav class="datatable-pagination">
                        <ul class="datatable-pagination-list"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>