<div class="card overflow-hidden">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h5 class="card-title text-black mb-0">Products Stock</h5>
      <div class="ms-auto" ngbDropdown>
        <button
          class="btn btn-sm bg-light border dropdown-toggle fw-medium text-black"
          type="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
        >
          Stock<i class="mdi mdi-chevron-down ms-1 fs-14"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0);">In stock</a>
          <a class="dropdown-item" href="javascript:void(0);">Low stock</a>
          <a class="dropdown-item" href="javascript:void(0);">Out of stock</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-stock mb-0">
        <thead>
          <tr class="text-capitalize">
            <th>Product Item</th>
            <th>Product ID</th>
            <th>Date Added</th>
            <th>Price</th>
            <th>Status</th>
            <th>QTY</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Audio HD3</td>
            <td class="text-muted">#PFR-1045</td>
            <td class="text-muted">29 Mar, 2024</td>
            <td class="text-muted">$1487</td>
            <td>
              <span class="badge bg-danger-subtle text-danger fw-semibold fs-13"
                >Out of Stock</span
              >
            </td>
            <td>46 Pics</td>
          </tr>
          <tr>
            <td>Smartwatch</td>
            <td class="text-muted">#PFR-1045</td>
            <td class="text-muted">17 Dec, 2024</td>
            <td class="text-muted">$1028</td>
            <td>
              <span
                class="badge bg-warning-subtle text-warning fw-semibold fs-13"
                >Low Stock</span
              >
            </td>
            <td>18 Pics</td>
          </tr>
          <tr>
            <td>AirPods Max</td>
            <td class="text-muted">#PFR-1045</td>
            <td class="text-muted">15 Apr, 2024</td>
            <td class="text-muted">$1487</td>
            <td>
              <span class="badge bg-danger-subtle text-danger fw-semibold fs-13"
                >Out of Stock</span
              >
            </td>
            <td>587 Pics</td>
          </tr>
          <tr>
            <td>Women Pink Heels</td>
            <td class="text-muted">#PFR-1045</td>
            <td class="text-muted">13 Feb, 2024</td>
            <td class="text-muted">$1487</td>
            <td>
              <span
                class="badge bg-primary-subtle text-primary fw-semibold fs-13"
                >In Stock</span
              >
            </td>
            <td>42 Pics</td>
          </tr>
          <tr>
            <td>Pixel 8 Pro</td>
            <td class="text-muted">#PFR-1045</td>
            <td class="text-muted">22 July, 2024</td>
            <td class="text-muted">$1487</td>
            <td>
              <span
                class="badge bg-warning-subtle text-warning fw-semibold fs-13"
                >Low Stock</span
              >
            </td>
            <td>784 Pics</td>
          </tr>
          <tr>
            <td>HP Monitor</td>
            <td class="text-muted">#PFR-1045</td>
            <td class="text-muted">19 Dec, 2024</td>
            <td class="text-muted">$1487</td>
            <td>
              <span
                class="badge bg-primary-subtle text-primary fw-semibold fs-13"
                >In Stock</span
              >
            </td>
            <td>78 Pics</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
