<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Recent Messages</h5>
        </div>
    </div>

    <div class="card-body">
        <div class="justify-content-center">

            <ul class="list-group list-group-flush list-group-no-gutters">
                <!-- List Item -->
                <li class="list-group-item px-0 pt-0">
                    <a href="#" class="d-flex align-items-center gap-3">

                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-19.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle online"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">Roger Harris</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">rogerEHarris&#64;armyspy.com</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0">
                    <a href="#" class="d-flex align-items-center gap-3">

                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-20.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle busy"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">Michael Frates</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">michaelfrates&#64;rhyta.com</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0">
                    <a href="#" class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-21.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle away"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">Shoshana Harp</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">shoshanaharp&#64;dayrep.com</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0">
                    <a href="#" class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-22.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle offline"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">Mitzi Stamm</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">mitzistamm&#64;jourrapide.com</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0">
                    <a href="#" class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-23.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle busy"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">John Obrien</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">johnobrien&#64;jourrapide.com</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0">
                    <a href="#" class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-19.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle online"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">Donna Young</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">mitzistamm&#64;jourrapide.com</span>
                            </div>
                        </div>
                    </a>
                </li>

                <!-- List Item -->
                <li class="list-group-item px-0 pb-0">
                    <a href="#" class="d-flex align-items-center gap-3">
                        <div class="flex-shrink-0">
                            <!-- Avatar -->
                            <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                                <img src="assets/images/users/user-21.jpg" class="avatar avatar-sm rounded-circle">
                                <span class="profile-status rounded-circle online"></span>
                            </div>
                            <!-- End Avatar -->
                        </div>

                        <div class="align-content-center">
                            <h6 class="mb-0 text-dark fs-15">Michael Drake</h6>
                            <div class="d-flex align-items-center">
                                <span class="fs-14 text-muted fw-medium">michaelgrake&#64;jourrapide.com</span>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>