<div class="card overflow-hidden">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Employee List</h5>
        </div>
    </div>

    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-traffic mb-0">

                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Departments</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of hrmEmployee; track $index) {
                    <tr>
                        <td>
                            <a href="javascript:void(0);" class="text-dark fw-medium">{{item.id}}</a>
                        </td>
                        <td class="d-flex align-items-center">
                            <img src="{{item.image}}" class="avatar avatar-sm rounded-circle me-3" />
                            <div>
                                <p class="mb-0 fw-medium fs-14">{{item.name}}</p>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0">{{item.email}}</p>
                        </td>
                        <td>
                            <p class="mb-0">{{item.role}}</p>
                        </td>
                        <td>
                            <span class="badge badge-light border text-dark fs-13 fw-normal">{{item.department}}</span>
                        </td>
                        <td>
                            <span
                                class="badge badge-custom-second border border-success text-success fs-13 fw-medium"  [ngClass]="{
                                    'border-warning text-warning':
                                      item.status == 'Freelance',
                                    'border-info text-info': item.status == 'Part-time',
                                    'border-success text-success':
                                      item.status == 'Full-time',
                                  }"><i
                                    class="mdi mdi-circle-medium fs-14 text-success me-1" [ngClass]="{
                                    'text-warning':
                                      item.status == 'Freelance',
                                    'text-info': item.status == 'Part-time',
                                    'text-success':
                                      item.status == 'Full-time',
                                  }"></i>{{item.status}}</span>
                        </td>
                        <td>
                            <a aria-label="anchor" class="btn btn-sm me-1 border shadow-sm" data-bs-toggle="tooltip"
                                data-bs-original-title="Edit">
                                <i class="mdi mdi-pencil-outline fs-15 text-muted"></i>
                            </a>
                            <a aria-label="anchor" class="btn btn-sm border shadow-sm" data-bs-toggle="tooltip"
                                data-bs-original-title="Delete">
                                <i class="mdi mdi-delete fs-15 text-muted"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer py-0 border-top">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="text-block text-center text-sm-start">
                    <span class="fw-medium">1 of 3</span>
                </div>
            </div>
            <div class="col-sm-auto mt-3 mt-sm-0">
                <div class="pagination gap-2 justify-content-center py-3 ps-0 pe-3">
                    <ul class="pagination mb-0">
                        <li class="page-item disabled">
                            <a class="page-link me-2 rounded-2" href="javascript:void(0);"> Prev </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link rounded-2 me-2" href="#" data-i="1" data-page="5">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link me-2 rounded-2" href="#" data-i="2" data-page="5">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-primary rounded-2" href="javascript:void(0);"> next </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>