<div class="row g-3">
  <div class="col-md-12 col-xl-12">
    <div class="card bg-primary-subtle overflow-hidden mb-0">
      <div class="card-body">
        <div class="d-flex align-content-center justify-content-between">
          <div class="d-flex align-items-start flex-column h-100">
            <h3 class="text-dark fw-semibold fs-20 lh-base mx-auto mb-3">Upgrade you plan for
              <br>Great experience
            </h3>
            <a href="#" class="btn btn-sm btn-danger">Upgarde Now</a>
          </div>

          <div class="">
            <img src="assets/images/widget/girls.png" alt="" class=" mb-n3 float-end">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6">
    <div class="card mb-0">
      <div class="card-body">
        <div class="d-flex mb-2">
          <div class="rounded-2 bg-white p-1 shadow-sm border">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path fill="#c26316"
                d="M6.444 3.685a10 10 0 0 1 1.662-.896c1.403-.593 2.104-.89 3-.296C12 3.086 12 4.057 12 6v2c0 1.886 0 2.828.586 3.414S14.114 12 16 12h2c1.942 0 2.914 0 3.507.895s.297 1.596-.296 3a10 10 0 0 1-11.162 5.913A10 10 0 0 1 6.444 3.685">
              </path>
              <path fill="#060707" fill-rule="evenodd"
                d="M13.774 2.128a.75.75 0 0 1 .913-.54a10.77 10.77 0 0 1 7.725 7.725a.75.75 0 0 1-1.453.374a9.27 9.27 0 0 0-6.646-6.646a.75.75 0 0 1-.54-.913"
                clip-rule="evenodd" opacity="0.5"></path>
            </svg>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="fs-16 mb-1">Website Traffic</div>
        </div>

        <div class="d-flex align-items-baseline mb-2">
          <div class="fs-22 mb-0 me-2 fw-semibold text-black">91.6K</div>
          <div class="me-auto">
            <span class="text-primary d-inline-flex align-items-center">
              15%
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-trending-up ms-1" style="height: 20px; width: 20px;">
                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                <polyline points="17 6 23 6 23 12"></polyline>
              </svg>
            </span>
          </div>
        </div>

        <div id="website-traffic" class="apex-charts">
          <apx-chart [chart]="websiteTraffic.chart!" [series]="websiteTraffic.series!" [colors]="websiteTraffic.colors!"
            [plotOptions]="websiteTraffic.plotOptions!" [dataLabels]="websiteTraffic.dataLabels!"
            [grid]="websiteTraffic.grid!" [fill]="websiteTraffic.fill!" [stroke]="websiteTraffic.stroke!" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card mb-0">
      <div class="card-body">
        <div class="d-flex mb-2">
          <div class="rounded-2 bg-white p-1 shadow-sm border">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path fill="#E7366B" fill-rule="evenodd"
                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m.75-16a.75.75 0 0 0-1.5 0v.317c-1.63.292-3 1.517-3 3.183c0 1.917 1.813 3.25 3.75 3.25c1.377 0 2.25.906 2.25 1.75s-.873 1.75-2.25 1.75c-1.376 0-2.25-.906-2.25-1.75a.75.75 0 0 0-1.5 0c0 1.666 1.37 2.891 3 3.183V18a.75.75 0 0 0 1.5 0v-.317c1.63-.292 3-1.517 3-3.183c0-1.917-1.813-3.25-3.75-3.25c-1.376 0-2.25-.906-2.25-1.75s.874-1.75 2.25-1.75c1.377 0 2.25.906 2.25 1.75a.75.75 0 0 0 1.5 0c0-1.666-1.37-2.891-3-3.183z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="fs-16 mb-1">Conversion Rate</div>
        </div>

        <div class="d-flex align-items-baseline mb-2">
          <div class="fs-22 mb-0 me-2 fw-semibold text-black">15%</div>
          <div class="me-auto">
            <span class="text-danger d-inline-flex align-items-center">
              10%
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-trending-down ms-1" style="height: 20px; width: 20px;">
                <polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline>
                <polyline points="17 18 23 18 23 12"></polyline>
              </svg>
            </span>
          </div>
        </div>
        <div id="conversion-visitors" class="apex-charts">
          <apx-chart [chart]="converationRate.chart!" [series]="converationRate.series!"
            [colors]="converationRate.colors!" [plotOptions]="converationRate.plotOptions!"
            [dataLabels]="converationRate.dataLabels!" [grid]="converationRate.grid!" [fill]="converationRate.fill!"
            [xaxis]="converationRate.xaxis!" [yaxis]="converationRate.yaxis!" [stroke]="converationRate.stroke!" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card mb-0">
      <div class="card-body">
        <div class="d-flex mb-2">
          <div class="rounded-2 bg-white p-1 shadow-sm border">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path fill="#287F71" fill-rule="evenodd"
                d="M12 22c4.836 0 8.757-3.884 8.757-8.675c0-4.79-3.92-8.674-8.757-8.674s-8.757 3.883-8.757 8.674S7.163 22 12 22m0-13.253c.403 0 .73.324.73.723v3.556l2.218 2.198a.72.72 0 0 1 0 1.022a.735.735 0 0 1-1.032 0l-2.432-2.41a.72.72 0 0 1-.214-.51V9.47c0-.4.327-.723.73-.723M8.24 2.34a.72.72 0 0 1-.232.996l-3.891 2.41a.734.734 0 0 1-1.006-.23a.72.72 0 0 1 .232-.996l3.892-2.41a.734.734 0 0 1 1.006.23m7.519 0a.734.734 0 0 1 1.005-.23l3.892 2.41a.72.72 0 0 1 .232.996a.734.734 0 0 1-1.006.23l-3.891-2.41a.72.72 0 0 1-.233-.996"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="fs-16 mb-1">Session Duration</div>
        </div>

        <div class="d-flex align-items-baseline mb-2">
          <div class="fs-22 mb-0 me-2 fw-semibold text-black">90 Sec</div>
          <div class="me-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-trending-up ms-1" style="height: 20px; width: 20px;">
              <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
              <polyline points="17 6 23 6 23 12"></polyline>
            </svg>
          </div>
        </div>
        <div id="session-duration" class="apex-charts">
          <apx-chart [chart]="sessionDuration.chart!" [series]="sessionDuration.series!"
            [colors]="sessionDuration.colors!" [plotOptions]="sessionDuration.plotOptions!"
            [dataLabels]="sessionDuration.dataLabels!" [grid]="sessionDuration.grid!" [fill]="sessionDuration.fill!"
            [xaxis]="sessionDuration.xaxis!" [yaxis]="sessionDuration.yaxis!" [stroke]="sessionDuration.stroke!" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card mb-0">
      <div class="card-body">
        <div class="d-flex mb-2">
          <div class="rounded-2 bg-white p-1 shadow-sm border">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path fill="#108dff" fill-rule="evenodd"
                d="M3 10.417c0-3.198 0-4.797.378-5.335c.377-.537 1.88-1.052 4.887-2.081l.573-.196C10.405 2.268 11.188 2 12 2s1.595.268 3.162.805l.573.196c3.007 1.029 4.51 1.544 4.887 2.081C21 5.62 21 7.22 21 10.417v1.574c0 5.638-4.239 8.375-6.899 9.536C13.38 21.842 13.02 22 12 22s-1.38-.158-2.101-.473C7.239 20.365 3 17.63 3 11.991zM14 9a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-2 8c4 0 4-.895 4-2s-1.79-2-4-2s-4 .895-4 2s0 2 4 2"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="fs-16 mb-1">Active Users</div>
        </div>

        <div class="d-flex align-items-baseline mb-2">
          <div class="fs-22 mb-0 me-2 fw-semibold text-black">2,986</div>
          <div class="me-auto">
            <span class="text-primary d-inline-flex align-items-center">
              4%
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-trending-up ms-1" style="height: 20px; width: 20px;">
                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                <polyline points="17 6 23 6 23 12"></polyline>
              </svg>
            </span>
          </div>
        </div>
        <div id="active-users" class="apex-charts">
          <apx-chart [chart]="user.chart!" [series]="user.series!" [colors]="user.colors!"
            [plotOptions]="user.plotOptions!" [dataLabels]="user.dataLabels!" [grid]="user.grid!" [fill]="user.fill!"
            [xaxis]="user.xaxis!" [yaxis]="user.yaxis!" [stroke]="user.stroke!" />
        </div>
      </div>
    </div>
  </div>
</div>