<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Project Statistics</h5>
        </div>
    </div>

    <div class="card-body">
        <div id="project-statistics" class="apex-charts">
            <apx-chart [chart]="projectStat.chart!" [series]="projectStat.series!" [colors]="projectStat.colors!"
            [plotOptions]="projectStat.plotOptions!" [dataLabels]="projectStat.dataLabels!"
            [grid]="projectStat.grid!" [fill]="projectStat.fill!" [stroke]="projectStat.stroke!" [xaxis]="projectStat.xaxis!" />
        </div>
    </div>
</div>