<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Next payments</h5>
        </div>
    </div>

    <div class="card-body">
        <div class="justify-content-center mb-2">
            <ul class="list-group list-group-flush list-group-no-gutters">

                <!-- List Item -->
                <li class="list-group-item px-0 pt-0 border-bottom-0">
                    <div class="d-flex align-items-center gap-3">

                        <div class="align-content-center">
                            <h6 class="mb-1 text-dark fw-semibold fs-17">$145,258.12</h6>
                            <span class="fs-14 text-muted fw-medium">August 5th, 2024</span>
                        </div>

                        <div class="ms-auto align-content-center">
                            <span class="badge px-2 py-1 bg-dark-subtle rounded-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-none fw-medium">
                                    <span class="fs-13"> Draw 4</span>
                                </a>    
                            </span>
                        </div>
                        
                    </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0 border-bottom-0">
                    <div class="d-flex align-items-center gap-3">

                        <div class="align-content-center">
                            <h6 class="mb-1 text-dark fw-semibold fs-17">$524,784.14</h6>
                            <span class="fs-14 text-muted fw-medium">October 25th, 2024</span>
                        </div>

                        <div class="ms-auto align-content-center">
                            <span class="badge px-2 py-1 bg-dark-subtle rounded-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-none fw-medium">
                                    <span class="fs-13"> Draw 5</span>
                                </a>    
                            </span>
                        </div>

                    </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0 border-bottom-0">
                    <div class="d-flex align-items-center gap-3">

                        <div class="align-content-center">
                            <h6 class="mb-1 text-dark fw-semibold fs-17">$224,784.65</h6>
                            <span class="fs-14 text-muted fw-medium">September 15th, 2024</span>
                        </div>

                        <div class="ms-auto align-content-center">
                            <span class="badge px-2 py-1 bg-dark-subtle rounded-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-none fw-medium">
                                    <span class="fs-13"> Draw 6</span>
                                </a>    
                            </span>
                        </div>

                    </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0 border-bottom-0">
                    <div class="d-flex align-items-center gap-3">

                        <div class="align-content-center">
                            <h6 class="mb-1 text-dark fw-semibold fs-17">$658,784.45</h6>
                            <span class="fs-14 text-muted fw-medium">November 12th, 2024</span>
                        </div>

                        <div class="ms-auto align-content-center">
                            <span class="badge px-2 py-1 bg-dark-subtle rounded-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-none fw-medium">
                                    <span class="fs-13"> Draw 7</span>
                                </a>    
                            </span>
                        </div>

                    </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0 border-bottom-0">
                    <div class="d-flex align-items-center gap-3">

                        <div class="align-content-center">
                            <h6 class="mb-1 text-dark fw-semibold fs-17">$489,526.95</h6>
                            <span class="fs-14 text-muted fw-medium">November 19th, 2024</span>
                        </div>

                        <div class="ms-auto align-content-center">
                            <span class="badge px-2 py-1 bg-dark-subtle rounded-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-none fw-medium">
                                    <span class="fs-13"> Draw 8</span>
                                </a>    
                            </span>
                        </div>

                    </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item px-0 border-bottom-0">
                    <div class="d-flex align-items-center gap-3">

                        <div class="align-content-center">
                            <h6 class="mb-1 text-dark fw-semibold fs-17">$587,526.95</h6>
                            <span class="fs-14 text-muted fw-medium">December 24th, 2024</span>
                        </div>

                        <div class="ms-auto align-content-center">
                            <span class="badge px-2 py-1 bg-dark-subtle rounded-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-none fw-medium">
                                    <span class="fs-13"> Draw 9</span>
                                </a>    
                            </span>
                        </div>

                    </div>
                </li>
                <!-- End List Item -->

            </ul>
        </div>
        

        <div class="row">
            <div class="col-12">
                <a class="btn text-dark border bg-light fw-normal d-flex align-items-center justify-content-center text-capitalize rounded-3 mt-2 fw-semibold">View all upcoming payments <i class="mdi mdi-arrow-right ms-2 fs-17"></i></a>
            </div>
        </div>

    </div>

</div> 