<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Traffic Source</h5>
        </div>
    </div>

    <div class="card-body mt-0">
        <div class="table-responsive table-card">
            <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                <thead class="text-muted table-light">
                    <tr>
                        <th>Campaign</th>
                        <th>Starting Date</th>
                        <th>Open Rate</th>
                        <th>Click Rate</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/social/facebook.png" alt="logo" class="img-fluid me-2">
                                <p class="mb-0 fs-14">Facebook</p>   
                            </div>
                        </td>
                        <td class="text-muted fs-14">20 September 2024</td>
                        <td class="text-muted fs-14">47%</td>
                        <td class="text-muted fs-14">71%</td>
                        <td>
                            <span class="badge px-2 py-1 bg-primary rounded-2">
                                <a href="javascript:void(0);" class="text-white text-decoration-none fw-medium">
                                    <span class="fs-13">$2,580</span>
                                </a>    
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/social/google.png" alt="logo" class="img-fluid me-2">
                                <p class="mb-0 fs-14">Instagram</p>   
                            </div>
                        </td>
                        <td class="text-muted fs-14">18th October 2024</td>
                        <td class="text-muted fs-14">32%</td>
                        <td class="text-muted fs-14">80%</td>
                        <td>
                            <span class="badge px-2 py-1 bg-primary rounded-2">
                                <a href="javascript:void(0);" class="text-white text-decoration-none fw-medium">
                                    <span class="fs-13">$1,880</span>
                                </a>    
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/social/instagram.png" alt="logo" class="img-fluid me-2">
                                <p class="mb-0 fs-14">Google Ads</p>   
                            </div>
                        </td>
                        <td class="text-muted fs-14">19th November 2024</td>
                        <td class="text-muted fs-14">47%</td>
                        <td class="text-muted fs-14">71%</td>
                        <td>
                            <span class="badge px-2 py-1 bg-primary rounded-2">
                                <a href="javascript:void(0);" class="text-white text-decoration-none fw-medium">
                                    <span class="fs-13">$2,580</span>
                                </a>    
                            </span>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/social/tiktok.png" alt="logo" class="img-fluid me-2">
                                <p class="mb-0 fs-14">TikTok</p>   
                            </div>
                        </td>
                        <td class="text-muted fs-14">08th December 2024</td>
                        <td class="text-muted fs-14">51%</td>
                        <td class="text-muted fs-14">58%</td>
                        <td>
                            <span class="badge px-2 py-1 bg-primary rounded-2">
                                <a href="javascript:void(0);" class="text-white text-decoration-none fw-medium">
                                    <span class="fs-13">$3,780</span>
                                </a>    
                            </span>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

</div> <!-- end card -->

<div class="col-md-12 col-xl-12">
    <div class="card bg-primary-subtle overflow-hidden">
        <div class="card-body position-relative">
            <div class="row">

                <div class="col-md-6 col-xl-6">
                    <div class="d-flex align-items-start flex-column h-100">
                        <h3 class="text-dark fw-medium fs-24 mb-auto mb-3">Denim Jacket with white Feathers</h3>
                        <a href="#" class="btn btn-sm btn-primary mb-0">Item sold out</a>
                    </div>
                </div>

                <div class="col-md-6 col-xl-6 justify-content-center">
                    <div class="text-center">
                        <img src="assets/images/svg/ecommerce-2.svg" alt="modernize-img" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>