<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0">Upcoming Events</h5>
    </div>
  </div>

  <!-- start card body -->
  <div class="card-body">
    <ul class="list-unstyled mb-0 upcoming-events-list">
      <li>
        <div class="align-items-center d-flex justify-content-between border rounded-2 p-2 events-before">
          <div class="product-list">
            <div class="product-body align-self-center">
              <h6 class="m-0 fw-semibold">Meeting with client</h6>
              <p class="mb-0 mt-1 text-muted">Zoom Conference</p>
            </div>
          </div>

          <div>
            <span class="text-muted"><i class="ri-time-line align-middle me-1 inline-block "></i>9:00am - 10:00am</span>
          </div>
        </div>
      </li>

      <li>
        <div class="align-items-center d-flex justify-content-between border rounded-2 p-2">
          <div class="product-list">
            <div class="product-body align-self-center">
              <h6 class="m-0 fw-semibold">Event for music concert</h6>
              <p class="mb-0 mt-1 text-muted">Tomorrowland belgium</p>
            </div>
          </div>

          <div>
            <span class="text-muted"><i class="ri-time-line align-middle me-1 inline-block "></i>11:00am - 1:00pm</span>
          </div>
        </div>

      </li>

      <li>
        <div class="align-items-center d-flex justify-content-between border rounded-2 p-2">
          <div class="product-list">
            <div class="product-body align-self-center">
              <h6 class="m-0 fw-semibold">General Team Meeting</h6>
              <p class="mb-0 mt-1 text-muted">Agenda for team growth</p>
            </div>
          </div>

          <div>
            <span class="text-muted"><i class="ri-time-line align-middle me-1 inline-block "></i>2:00pm - 4:00pm</span>
          </div>
        </div>
      </li>

      <li class="mb-0">
        <div class="align-items-center d-flex justify-content-between border rounded-2 p-2">
          <div class="product-list">
            <div class="product-body align-self-center">
              <h6 class="m-0 fw-semibold">Project Manager Meeting</h6>
              <p class="mb-0 mt-1 text-muted">Project sprint and remaining work</p>
            </div>
          </div>

          <div>
            <span class="text-muted"><i class="ri-time-line align-middle me-1 inline-block "></i>10:05am -
              12:05pm</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- end card body -->
</div>