<breadcrumb [title]="'Apps'" [subtitle]="'Edit Leave Adjustment'" />
<div class="row">
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-body">
                <h5 class="mb-3">Leave Adjustment Header</h5>
                <form class="row g-3" [formGroup]="form">
                    <div class="col-md-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" formControlName="description"
                            [ngClass]="{'is-invalid' : form.get('description')?.invalid && ( submitted || form.get('description')?.touched)}"
                            id="description" value="" />
                        {{ form.get('description')?.errors | formErrors }}
                    </div>
                
                    <div class="col-md-3">
                        <label for="adjustment_date" class="form-label">Adjustment Date</label>
                        <input type="date" class="form-control"
                            [ngClass]="{'is-invalid' : form.get('adjustment_date')?.invalid && ( submitted || form.get('adjustment_date')?.touched)}"
                            id="adjustment_date" formControlName="adjustment_date" value="" />
                        {{ form.get('adjustment_date')?.errors | formErrors }}
                    </div>
                
                    <div class="col-md-3">
                        <label for="leave_group_id" class="form-label">Leave Group</label>
                        <select
                            [ngClass]="{'is-invalid' : form.get('leave_group_id')?.invalid && ( submitted || form.get('leave_group_id')?.touched)}"
                            class="datatable-selector form-select" name="leave_group_id" id="leave_group_id"
                            formControlName="leave_group_id">
                            <option *ngFor="let group of formData?.leaveGroup" value="{{group?.id}}">{{ group.name }}
                            </option>
                        </select>
                        {{ form.get('leave_group_id')?.errors | formErrors }}
                    </div>
                
                    <div class="col-md-3">
                        <label for="policy_type" class="form-label">Policy</label>
                        <select
                            [ngClass]="{'is-invalid' : form.get('policy_type')?.invalid && ( submitted || form.get('policy_type')?.touched)}"
                            class="datatable-selector form-select" name="policy_type" id="policy_type" formControlName="policy_type">
                            <option value="yearly"> Yearly </option>
                            <option value="monthly"> Monthly </option>
                        </select>
                        {{ form.get('policy_type')?.errors | formErrors }}
                    </div>
                </form>
                <div class="row mt-1">
                    <div class="col-md-12 d-flex flex-wrap justify-content-end">
                        <button type="button" class="btn btn-success btn-sm btn-custom" (click)="onSubmit()"
                            [disabled]="(isLoading$ | async) || confirm">
                            <ng-container *ngIf="isLoading$ |async">
                                <span aria-hidden="true" class="spinner-border spinner-border-sm mr-2"></span>
                            </ng-container>
                            <i class="mdi mdi-file-edit"></i>&nbsp;Save as Draft
                        </button>
                        <button class="btn btn-primary btn-sm" type="button" (click)="saveAndconfirm()"
                            [disabled]="(isLoading$ | async) || confirm">
                            <ng-container *ngIf="isLoading$ | async">
                                <span aria-hidden="true" class="spinner-border spinner-border-sm mr-2"></span>
                            </ng-container>
                            <i class="mdi mdi-file-edit"></i>&nbsp;Save & Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="mb-3">Leave Adjustment Details</h5>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-sm float-end" type="button" (click)="assignEmployees()" [disabled]="confirm">
                            <svg viewBox="0 0 24 24" width="17" height="17" stroke="currentColor" stroke-width="2" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                            Add Employee
                        </button>
                    </div>
                </div>
                
                <div class="row mt-2">
                    <div class="col-md-12 table-responsive">
                        <div *ngIf="(loading$ | async); else tableTemplate">
                           
                        </div>
                        <ng-template #tableTemplate>
                            <from [formGroup]="empForm">
                                <div formArrayName="rows">
                                    <table class="table">
                                        <thead>
                                            <th class="ps-0">Employee Name</th>
                                            <th class="ps-0" *ngFor="let lt of leaveTypes">{{ lt.name }}</th>
                                            <th class="ps-0">Comment</th>
                                            <th class="ps-0">Action</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of rowsFA.controls; let i = index" [formGroupName]="i">
                                                <td class="ps-0">
                                                    <input class="form-control" formControlName="employee_name" [readonly]="true" />
                                                </td>
                            
                                                <td class="ps-0" *ngFor="let lt of leaveTypes" formGroupName="balances">
                                                    <ng-container *ngIf="row.get('balances.' + lt.id)">
                                                        <input class="form-control" type="number" step="0.5" min="0"
                                                            (blur)="formatValue(row.get('balances')?.get(lt.id.toString()))"
                                                            [formControlName]="lt.id" />
                                                        <small class="text-muted">Balance: {{ row.get('noOfDays')?.get(lt.id.toString())?.value
                                                            }}</small>
                                                    </ng-container>
                                                </td>
                            
                            
                                                <td class="ps-0">
                                                    <input class="form-control" type="text" formControlName="remarks" placeholder="Comment" />
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm bg-danger-subtle rounded-pill"
                                                        (click)="showDeleteAlert(row.get('employee_id'))" [disabled]="confirm">
                                                        <i class="mdi mdi-delete fs-14 text-danger"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </from>
                        </ng-template>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap justify-content-end">
                        <button class="btn btn-success btn-sm" type="button" [disabled]="(detailsSaving$ | async) || confirm" (click)="save()">
                            <ng-container *ngIf="detailsSaving$ | async">
                                <span aria-hidden="true" class="spinner-border spinner-border-sm mr-2"></span>
                            </ng-container>
                            <i class="mdi mdi-file-edit"></i>&nbsp;Save Details
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
