<div class="card">

    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Job Summary</h5>
        </div>
    </div>

    <div class="card-body">
        <div id="your-preformance" class="apex-charts">
            <apx-chart
            [series]="jobSummary.series!"
            [chart]="jobSummary.chart!"
            [plotOptions]="jobSummary.plotOptions!"
            [colors]="jobSummary.colors!"
            [labels]="jobSummary.labels!"
            [stroke]="jobSummary.stroke!"
            [dataLabels]="jobSummary.dataLabels!"
            [legend]="jobSummary.legend!"
          />
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1 text-primary"></i>
                        <span class="align-middle fw-semibold">Active Job</span>
                    </div>
                    <span class="fw-semibold text-muted float-end">20</span>
                </div>

                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1" style="color: rgba(42, 106, 153, 0.7);"></i>
                        <span class="align-middle fw-semibold">Unactive</span>
                    </div>
                    <span class="fw-semibold text-muted float-end">25</span>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1" style="color: rgba(42, 106, 153, 0.5);"></i>
                        <span class="align-middle fw-semibold"> Closed</span>
                    </div>
                    <span class="fw-semibold text-muted float-end">55</span>
                </div>

                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1" style="color: rgba(42, 106, 153, 0.2);"></i>
                        <span class="align-middle fw-semibold"> On Hold</span>
                    </div>
                    <span class="fw-semibold text-muted float-end">34</span>
                </div>
            </div>
        </div>
    </div>
</div>