<div class="card overflow-hidden">

    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Job Applied</h5>
        </div>
    </div>

    <div class="card-body mt-0">

        <div class="row row-cols-12 border border-dashed border-1 rounded-2">
            <div class="col">
                <div class="p-2 border-end border-inline-end-dashed">
                    <p class="mb-1 text-muted text-center">Male Candidates</p>
                    <div class="d-flex a&#64;lign-items-center mt-2 justify-content-between me-2">
                        <h3 class="mb-0 fs-22 text-dark me-3">1,478</h3>
                        <span class="text-primary fs-14"><i class="mdi mdi-trending-up fs-14"></i> 12.5%</span>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="p-2 ps-0">
                    <p class="mb-1 text-muted text-center">Female Candidates</p>
                    <div class="d-flex align-items-center mt-2 justify-content-between">
                        <h3 class="mb-0 fs-22 text-dark me-3">1,978</h3>
                        <span class="text-danger fs-14"><i class="mdi mdi-trending-down fs-14"></i> 10%</span>
                    </div>
                </div>
            </div>

        </div>

        <div id="sales-overview" class="apex-charts">
            <apx-chart
            [chart]="jobApplied.chart!"
            [series]="jobApplied.series!"
            [xaxis]="jobApplied.xaxis!"
            [colors]="jobApplied.colors!"
            [plotOptions]="jobApplied.plotOptions!"
            [grid]="jobApplied.grid!"
            [fill]="jobApplied.fill!"
            [dataLabels]="jobApplied.dataLabels!"
            [legend]="jobApplied.legend!"
            [stroke]="jobApplied.stroke!"
          />
        </div>

        <div class="information-details">
            <ul class="p-0 m-0">
                <li class="d-flex align-items-center mb-2">
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">

                        <div class="d-flex align-items-center">
                            <i class="mdi mdi-circle fs-14 me-2 text-primary"></i>
                            <p class="mb-0 me-1 fs-14 fw-normal text-muted">Recruited</p>
                        </div>
                        <div class="user-progress">
                            <p class="text-primary fw-medium mb-0 d-flex align-items-center text-dark">55%</p>
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center mb-2">
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">

                        <div class="d-flex align-items-center">
                            <i class="mdi mdi-circle fs-14 me-2 text-secondary"></i>
                            <p class="mb-0 me-1 fs-14 fw-normal text-muted">Selected</p>
                        </div>
                        <div class="user-progress">
                            <p class="text-primary fw-medium mb-0 d-flex align-items-center text-dark">68.8%</p>
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center mb-2">
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">

                        <div class="d-flex align-items-center">
                            <i class="mdi mdi-circle fs-14 me-2 text-success"></i>
                            <p class="mb-0 me-1 fs-14 fw-normal text-muted">Short Listed</p>
                        </div>
                        <div class="user-progress">
                            <p class="text-primary fw-medium mb-0 d-flex align-items-center text-dark">48.8%</p>
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center mb-0">
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">

                        <div class="d-flex align-items-center">
                            <i class="mdi mdi-circle fs-14 me-2 text-info"></i>
                            <p class="mb-0 me-1 fs-14 fw-normal text-muted">Rejected</p>
                        </div>
                        <div class="user-progress">
                            <p class="text-primary fw-medium mb-0 d-flex align-items-center text-dark">63%</p>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>