<div class="card overflow-hidden">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0">Top Selling Products</h5>

      <div class="ms-auto" ngbDropdown>
        <button ngbDropdownToggle
          class="btn btn-sm bg-light border dropdown-toggle fw-medium text-black"
          type="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          View All<i class="mdi mdi-chevron-down ms-1 fs-14"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0);">Today</a>
          <a class="dropdown-item" href="javascript:void(0);">This Week</a>
          <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
        </div>
      </div>
    </div>
  </div>

  <!-- start card body -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-traffic mb-0">
        <thead>
          <tr>
            <th>Product</th>
            <th>Sold</th>
            <th>Earnings</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <span class="avatar mb-0 position-relative">
                  <img
                    class="avatar avatar-sm rounded-2 me-3 bg-primary-subtle rounded-circle p-1"
                    src="assets/images/products/bag.png"
                    alt="product-image"
                  />
                </span>
                <p class="mb-0 fs-14">Himalayan Hemp Laptop Bag</p>
              </div>
            </td>
            <td>
              <span class="badge bg-primary-subtle text-primary fw-semibold"
                >457</span
              >
            </td>
            <td>
              <p class="mb-0 fw-medium">$74,487</p>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <span class="avatar mb-0 position-relative">
                  <img
                    class="avatar avatar-sm rounded-2 me-3 bg-primary-subtle rounded-circle p-1"
                    src="assets/images/products/watch.png"
                    alt="product-image"
                  />
                </span>
                <p class="mb-0 fs-14">Classic Apple Watch</p>
              </div>
            </td>
            <td>
              <span class="badge bg-primary-subtle text-primary fw-semibold"
                >859</span
              >
            </td>
            <td>
              <p class="mb-0 fw-medium">$50,569</p>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <span class="avatar mb-0 position-relative">
                  <img
                    class="avatar avatar-sm rounded-2 me-3 bg-primary-subtle rounded-circle p-1"
                    src="assets/images/products/headphone.png"
                    alt="product-image"
                  />
                </span>
                <p class="mb-0 fs-14">New Headphone</p>
              </div>
            </td>
            <td>
              <span class="badge bg-primary-subtle text-primary fw-semibold"
                >1024</span
              >
            </td>
            <td>
              <p class="mb-0 fw-medium">$45,487</p>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <span class="avatar mb-0 position-relative">
                  <img
                    class="avatar avatar-sm rounded-2 me-3 bg-primary-subtle rounded-circle p-1"
                    src="assets/images/products/leather-jacket.png"
                    alt="product-image"
                  />
                </span>
                <p class="mb-0 fs-14">Leather jacket</p>
              </div>
            </td>
            <td>
              <span class="badge bg-primary-subtle text-primary fw-semibold"
                >1478</span
              >
            </td>
            <td>
              <p class="mb-0 fw-medium">$30,102</p>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <span class="avatar mb-0 position-relative">
                  <img
                    class="avatar avatar-sm rounded-2 me-3 bg-primary-subtle rounded-circle p-1"
                    src="assets/images/products/shoes.png"
                    alt="product-image"
                  />
                </span>
                <p class="mb-0 fs-14">Nike Air Shoes</p>
              </div>
            </td>
            <td>
              <span class="badge bg-primary-subtle text-primary fw-semibold"
                >758</span
              >
            </td>
            <td>
              <p class="mb-0 fw-medium">$89,778</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- end card body -->
</div>
