<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Next Upcoming Event</h5>
        </div>
    </div>

    <div class="card-body">
        <div class="justify-content-center">
            <div class="event-images bg-primary-subtle rounded-3">
                <img class="card-img-top blog-img2 img-fluid" src="assets/images/widget/ecommerce.svg" alt="ecommerce">
            </div>

            <ul class="list-unstyled mb-0 mt-2">
                <li class="mb-2">
                    <div class="align-items-center d-flex rounded-2 p-2">
                        <div class="rounded-circle overflow-hidden me-3 shadow-lg">
                            <img src="assets/images/widget/event.jpg" alt="user-images" width="40" height="40">
                        </div>
                        <div class="gap-1">
                            <h6 class="m-0 fw-semibold text-dark fs-15">Flutter community event worldwide</h6>
                            <p class="mb-0 text-muted mt-1">19-22 December 2024 | 19:05</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="align-items-center d-flex rounded-2 p-2">
                        <div class="rounded-circle overflow-hidden me-3 shadow-lg">
                            <img src="assets/images/widget/event-1.jpg" alt="user-images" width="40" height="40">
                        </div>
                        <div class="gap-1">
                            <h6 class="m-0 fw-semibold text-dark fs-15">Free shipping worldwide</h6>
                            <p class="mb-0 text-muted mt-1">12-14 December 2024 | 20.25</p>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="col-12">
                <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center text-capitalize rounded-3 mt-3 fw-semibold">View event calendar <i class="mdi mdi-arrow-top-right ms-2 fs-17"></i></a>
            </div>
        </div>
    </div>
</div>