<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Income Statistics</h5>
        </div>
    </div>

    <div class="card-body">
        <div id="staff-work" class="apex-charts">
            <apx-chart
            [series]="incomeStat.series!"
            [chart]="incomeStat.chart!"
            [plotOptions]="incomeStat.plotOptions!"
            [colors]="incomeStat.colors!"
            [labels]="incomeStat.labels!"
            [stroke]="incomeStat.stroke!"
            [xaxis]="incomeStat.xaxis!"
            [title]="incomeStat.title!"
            [markers]="incomeStat.markers!"
            [dataLabels]="incomeStat.dataLabels!"
            [fill]="incomeStat.fill!"
            [yaxis]="incomeStat.yaxis!"
          />
        </div>
    </div>

</div>