<div class="card">

    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Project Budget</h5>
        </div>
    </div>

    <div class="card-body">
        <div id="project_budget" class="apex-charts">
            <apx-chart [chart]="projectBudget.chart!" [series]="projectBudget.series!" [colors]="projectBudget.colors!"
                [plotOptions]="projectBudget.plotOptions!" [dataLabels]="projectBudget.dataLabels!"
                [grid]="projectBudget.grid!" [fill]="projectBudget.fill!" [stroke]="projectBudget.stroke!"
                [xaxis]="projectBudget.xaxis!" />
        </div>
    </div>

</div>