
<div class="row">
  <div class="col-xl-12 align-self-center">
      <div class="row">
          <div class="col-md-5 mx-auto">

              <div class="coming-soon-img text-center">
                  <img src="assets/images/svg/coming-soon.svg" class="img-fluid" alt="maintenance-image">
              </div>

              <div class="text-center">
                  <div class="">
                      <h3 class="mt-5 fw-semibold text-dark text-capitalize fs-26">Our website is developing. It will be very soon</h3>
                      <p class="text-muted">Get ready, we are under process of creating something  really cool, <br> Our website will be available soon.</p>
                  </div>

                  <div class="row d-flex my-4 align-items-center justify-content-center">
                      <div class="col-md-6">
                          <input type="email" class="form-control" placeholder="Email Address">
                      </div>
                      <div class="col-auto">
                          <div class="d-grid sm:mt-2">
                              <button class="btn btn-primary d-flex align-items-center">
                                  <i class="mdi mdi-bell-ring-outline me-2"></i>Notify Me
                              </button>
                          </div>
                      </div>
                  </div>

                
            <div class="row justify-content-center mt-5 mb-5">
              <div class="col-md-8 text-center">
                <div class="counter-number">
                  <div class="coming-box">
                    {{ countdown.days }} <span>Days</span>
                  </div>
                  <div class="coming-box">
                    {{ countdown.hours }} <span>Hours</span>
                  </div>
                  <div class="coming-box">
                    {{ countdown.minutes }} <span>Minutes</span>
                  </div>
                  <div class="coming-box">
                    {{ countdown.seconds }} <span>Seconds</span>
                  </div>
                </div>
              </div>
              <!-- end col-->
            </div>

          </div>
      </div>
  </div>
</div>