<breadcrumb [title]="'General'" [subtitle]="'Widgets'" />
<div class="row">
  <!-- Start Upcoming Event -->
  <div class="col-md-6 col-xl-3">
    <app-next-upcoming-event />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-recent-message />
  </div>
  <div class="col-md-12 col-xl-6">
    <app-widget-stat />
  </div>
</div>
<!-- <app-widget-stat /> -->
<div class="row">
  <div class="col-md-12 col-xl-4">
    <app-widget-boarding />
  </div>
  <div class="col-md-12 col-xl-8">
    <app-widget-money-flow />
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-8">
    <app-widget-latest-transaction />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-widget-performance />
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-widget-revenue />
  </div>
  <div class="col-md-12 col-xl-6">
    <app-widget-earning />
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-widget-sales-region />
  </div>
  <div class="col-md-6 col-xl-4">
    <app-widget-upcoming-event />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-widget-visitor />
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-widget-analytics />
  </div>
  <div class="col-md-12 col-xl-6">
    <app-widget-traffic />
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-xl-3">
    <app-next-payment />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-browser-status />
  </div>
  <div class="col-md-12 col-xl-6">
    <app-traffic-source />
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-widget-task />
    </div>
  </div>