<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Project Categories</h5>
        </div>
    </div>

    <div class="card-body">
        <div class="row align-items-center">

            <div class="col align-items-center">
                <div id="project-categories" class="apex-charts">
                    <apx-chart [chart]="projectCategory.chart!" [series]="projectCategory.series!"
                        [colors]="projectCategory.colors!" [plotOptions]="projectCategory.plotOptions!"
                        [dataLabels]="projectCategory.dataLabels!" [labels]="projectCategory.labels!"
                        [grid]="projectCategory.grid!" [fill]="projectCategory.fill!" [stroke]="projectCategory.stroke!"
                        [xaxis]="projectCategory.xaxis!" [legend]="projectCategory.legend!"/>
                </div>
            </div>

            <div class="col">
                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1 text-success"></i>
                        <span class="align-middle fw-semibold">UI Project</span>
                    </div>
                    <span class="fw-medium text-muted float-end">
                        <i class="mdi mdi-arrow-up text-success align-middle fs-14 me-1"></i>
                        12.48%
                    </span>
                </div>

                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1" style="color: #522c8f;"></i>
                        <span class="align-middle fw-semibold">Web Projects</span>
                    </div>
                    <span class="fw-medium text-muted float-end">
                        <i class="mdi mdi-arrow-up text-success align-middle fs-14 me-1"></i>
                        15.23%
                    </span>
                </div>

                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1 text-warning"></i>
                        <span class="align-middle fw-semibold">Mobile Project</span>
                    </div>
                    <span class="fw-medium text-muted float-end">
                        <i class="mdi mdi-arrow-up text-success align-middle fs-14 me-1"></i>
                        19.58%
                    </span>
                </div>

                <div class="d-flex justify-content-between align-items-center p-1">
                    <div>
                        <i class="mdi mdi-circle fs-12 align-middle me-1" style="color: #01D4FF"></i>
                        <span class="align-middle fw-semibold">Marketing Project</span>
                    </div>
                    <span class="fw-medium text-muted float-end">
                        <i class="mdi mdi-arrow-up text-success align-middle fs-14 me-1"></i>
                        14.15%
                    </span>
                </div>

            </div>
        </div>

        <div class="row row-cols-12 border border-dashed border-1 rounded-2 mt-2">
            <div class="col">
                <div class="p-2 border-end border-inline-end-dashed">
                    <p class="mb-1 text-muted text-start">Design Categories</p>
                    <div class="d-flex align-items-center mt-2 justify-content-between me-2">
                        <h3 class="mb-0 fs-22 text-dark me-3">1,478</h3>
                        <span class="text-primary fs-14"><i class="mdi mdi-trending-up fs-14"></i> 12.5%</span>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="p-2 ps-0">
                    <p class="mb-1 text-muted text-start">Develop Categories</p>
                    <div class="d-flex align-items-center mt-2 justify-content-between">
                        <h3 class="mb-0 fs-22 text-dark me-3">1,978</h3>
                        <span class="text-primary fs-14"><i class="mdi mdi-trending-up fs-14"></i> 10%</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>