<breadcrumb [title]="'Ecommerce'" />

<app-ecommerce-stat />
<div class="row">
  <div class="col-xl-7">
    <app-ecommerce-sales-report />
  </div>
  <div class="col-xl-5">
    <app-ecommerce-sales-by-country />
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xl-4">
    <app-ecommerce-selling />
  </div>
  <div class="col-lg-6 col-xl-5">
    <app-ecommerce-customer-rate />
  </div>
  <div class="col-md-12 col-xl-3">
    <app-ecommerce-customer-review />
  </div>
</div>
<div class="row">
  <div class="col-xl-4">
    <app-ecommerce-order-review />
  </div>
  <div class="col-xl-8">
    <app-ecommerce-stock />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-ecommerce-recent-order />
  </div>
</div>
