<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0">Repeat Customer Rate</h5>
    </div>
  </div>

  <div class="card-body">
    <div id="repeat-customer" class="apex-charts">
      <apx-chart
        [chart]="customerRate.chart!"
        [series]="customerRate.series!"
        [xaxis]="customerRate.xaxis!"
        [yaxis]="customerRate.yaxis!"
        [colors]="customerRate.colors!"
        [plotOptions]="customerRate.plotOptions!"
        [grid]="customerRate.grid!"
        [fill]="customerRate.fill!"
        [dataLabels]="customerRate.dataLabels!"
        [tooltip]="customerRate.tooltip!"
        [legend]="customerRate.legend!"
        [stroke]="customerRate.stroke!"
      />
    </div>
  </div>
</div>
