<breadcrumb [title]="'Projects'" />

<div class="row">
    <div class="col-md-12">
        <app-project-stats />
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <app-project-statistics />
    </div>
    <div class="col-lg-4">
        <app-project-todolist />
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-4">
        <app-project-category />
    </div>
    <div class="col-md-6 col-xl-5">
        <app-project-budget />
    </div>
    <div class="col-xxl-3">
        <app-project-task-overview />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <app-project-summary />
    </div>
</div>