<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0">Top Leads</h5>
      <div class="ms-auto" ngbDropdown [placement]="'bottom-end'">
        <button
          ngbDropdownToggle
          class="btn btn-sm bg-light border dropdown-toggle fw-medium text-black"
          type="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort by Created<i class="mdi mdi-chevron-down ms-1 fs-14"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="javascript:void(0);">Created</a>
          <a class="dropdown-item" href="javascript:void(0);">Converted</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div id="totalleads" class="apex-charts mt-n3">
      <apx-chart
        [chart]="topleads.chart!"
        [series]="topleads.series!"
        [colors]="topleads.colors!"
        [plotOptions]="topleads.plotOptions!"
        [dataLabels]="topleads.dataLabels!"
        [grid]="topleads.grid!"
        [fill]="topleads.fill!"
      />
    </div>
  </div>
</div>
