<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <div class="card p-3 mb-0">
      <div class="card-body">
        <div class="mb-0 border-0 p-md-5 p-lg-0 p-4">

          <!-- Logo -->
          <div class="mb-4 p-0 text-center text-lg-start" >
            <a routerLink="/" class="auth-logo-light">
              <img src="assets/images/logo-light.png" alt="logo-light" class="mx-auto" height="40" />
            </a>
            <a routerLink="/" class="auth-logo-dark">
              <img src="assets/images/logo-dark.png" alt="logo-dark" class="mx-auto" height="40" />
            </a>
          </div>

          <!-- Title -->
          <div class="auth-title-section mb-4 text-lg-start text-center">
            <h3 class="text-dark fw-semibold mb-3">Reset Your Password</h3>
          </div>

          <!-- Form -->
          <form *ngIf="isValidLink" [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="my-4">

            <div class="form-group mb-3 position-relative">
              <label for="password" class="form-label">New Password</label>
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" class="form-control" placeholder="Enter new password">
                <button
                type="button"
                (click)="showPassword = !showPassword"
                class="btn position-absolute end-0"
                style="
                  top: 72%;
                  transform: translateY(-50%);
                  border: none;
                  background: transparent;
                  padding: 0 8px;
                  height: auto;
                  cursor: pointer;">
                <i class="mdi" [ngClass]="showPassword ? 'mdi-eye-off' : 'mdi-eye'" style="font-size:16px;"></i>
              </button>
            </div>

            <div class="form-group mb-3 position-relative">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm password">
              <button
                type="button"
                (click)="showConfirmPassword = !showConfirmPassword"
                class="btn position-absolute end-0"
                style="
                  top: 72%;
                  transform: translateY(-50%);
                  border: none;
                  background: transparent;
                  padding: 0 8px;
                  height: auto;
                  cursor: pointer;">
                <i class="mdi" [ngClass]="showConfirmPassword ? 'mdi-eye-off' : 'mdi-eye'" style="font-size:16px;"></i>
              </button>
            </div>

            <!-- Password Checklist -->
            <ul class="mb-3">
              <li [class.text-danger]="hasPasswordError('minLength')" [class.text-success]="hasPasswordPassed('minLength')">Must be at least 6 characters</li>
              <li [class.text-danger]="hasPasswordError('number')" [class.text-success]="hasPasswordPassed('number')">Must contain at least 1 number</li>
              <li [class.text-danger]="hasPasswordError('uppercase')" [class.text-success]="hasPasswordPassed('uppercase')">Must contain at least 1 uppercase letter</li>
              <li [class.text-danger]="hasPasswordError('lowercase')" [class.text-success]="hasPasswordPassed('lowercase')">Must contain at least 1 lowercase letter</li>
              <li [class.text-danger]="hasPasswordError('specialChar')" [class.text-success]="hasPasswordPassed('specialChar')">Must contain at least 1 special character</li>
              <li [class.text-danger]="!passwordsMatch()" [class.text-success]="passwordsMatch()">Passwords must match</li>
            </ul>

            <div class="d-grid">
              <button class="btn btn-primary" type="submit" [disabled]="resetForm.invalid">Change Password</button>
            </div>

          </form>

          <!-- Error message -->
          <div *ngIf="!isValidLink" class="text-center text-danger fw-bold">
            {{ errorMessage }}
          </div>

          <!-- Link to Login page -->
          <div class="text-center text-muted mt-3">
            <button class="btn btn-link" (click)="goToLogin()">Back to Login</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
