<div class="tab-pane pt-4" id="friends_setting" role="tabpanel">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card border">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-11.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-primary-subtle rounded-2 text-primary mb-2 fw-normal"
                >Team Member</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Jimmy L. Keener</h5>
              <p class="mt-1 mb-0">JimmyLKeener&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-primary">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-3.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-dark-subtle rounded-2 text-dark mb-2 fw-normal"
                >Team Member</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Paul D. Garner</h5>
              <p class="mt-1 mb-0">PaulDGarner&#64;armyspy.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-dark">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-5.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-secondary-subtle rounded-2 text-secondary mb-2 fw-normal"
                >Team Member</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Dallas J. Miller</h5>
              <p class="mt-1 mb-0">dallasinfo&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-secondary">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-8.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-danger-subtle rounded-2 text-danger mb-2 fw-normal"
                >Team Member</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Kristin R. Hunter</h5>
              <p class="mt-1 mb-0">kristinrhunter&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-danger">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border mb-md-0">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-9.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-secondary-subtle rounded-2 text-secondary mb-2 fw-normal"
                >Android Developer</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Jacqueline M. Dunn</h5>
              <p class="mt-1 mb-0">jacquelinemdunn&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-secondary">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border mb-md-0">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-4.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-primary-subtle rounded-2 text-primary mb-2 fw-normal"
                >Team Member</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Ricky V. Johnson</h5>
              <p class="mt-1 mb-0">rickyvjohnson&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-danger">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border mb-md-0">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-12.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-warning-subtle rounded-2 text-warning mb-2 fw-normal"
                >Software Developer</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Kenneth S. Cormier</h5>
              <p class="mt-1 mb-0">kennethscormier&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-info">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card border mb-0">
        <div class="card-body">
          <div class="text-center">
            <img
              src="assets/images/users/user-2.jpg"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="image profile"
            />

            <div class="mt-2 mb-3">
              <span
                class="badge bg-danger-subtle rounded-2 text-danger mb-2 fw-normal"
                >Team Leader</span
              >
              <h5 class="m-0 fw-medium text-dark fs-16">Evelyn J. Serra</h5>
              <p class="mt-1 mb-0">evelynjserra&#64;gmail.com</p>
            </div>
            <div class="">
              <button type="button" class="btn btn-sm btn-light me-2">
                Block
              </button>
              <button type="button" class="btn btn-sm btn-warning">
                Unfollow
              </button>
            </div>
          </div>
        </div>
        <!--end card-body-->
      </div>
    </div>
  </div>
</div>
