<div class="row mt-5">
    <div class="col-md-8 mx-auto">
        <div class="card p-3 mb-0">
            <div class="card-body">
                <div class="mb-0 border-0 p-md-5 p-lg-0 p-4">
                    <div class="mb-4 p-0 text-center text-lg-start">
                        <a routerLink="/" class="auth-logo-light">
                            <img
                                    src="assets/images/logo-light.png"
                                    alt="logo-light"
                                    class="mx-auto"
                                    height="40"
                            />
                        </a>
                        <a routerLink="/" class="auth-logo-dark">
                            <img
                                    src="assets/images/logo-dark.png"
                                    alt="logo-dark"
                                    class="mx-auto"
                                    height="40"
                            />
                        </a>
                    </div>
                    <div class="auth-title-section mb-4 text-lg-start text-center">
                        <h3 class="text-dark fw-semibold mb-3">Welcome back!</h3>
                    </div>
                    <div class="pt-0">
                        <form [formGroup]="signInForm" (ngSubmit)="login()" class="my-4">
                            <div class="form-group mb-3">
                                <label for="emailaddress" class="form-label"
                                >Email address</label
                                >
                                <input
                                        class="form-control"
                                        type="email"
                                        formControlName="email"
                                        [ngClass]="{
                    'is-invalid': submitted && formValues['email'].errors,
                  }"
                                        id="emailaddress"
                                        required=""
                                        placeholder="Enter your email"
                                />
                            </div>
                            <div class="form-group mb-3 position-relative">
                                <label for="password" class="form-label">Password</label>
                                <input
                                        class="form-control"
                                        [type]="showPassword ? 'text' : 'password'"
                                        formControlName="password"
                                        [ngClass]="{
                    'is-invalid': submitted && formValues['password'].errors,
                  }"
                                        required=""
                                        id="password"
                                        placeholder="Enter your password"
                                />
                                <button
                                    type="button"
                                    (click)="showPassword = !showPassword"
                                    class="btn position-absolute end-0"
                                    style="
                                    top: 70%;
                                    transform: translateY(-50%);
                                    border: none;
                                    background: transparent;
                                    padding: 0 8px;
                                    height: auto;
                                    cursor: pointer;" >
                                    <i class="mdi" [ngClass]="showPassword ? 'mdi-eye-off' : 'mdi-eye'" style="font-size:16px;"></i>
                                </button>
                            </div>
                            <div class="form-group d-flex mb-3">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                id="checkbox-signin"
                                                checked
                                        />
                                        <label class="form-check-label" for="checkbox-signin"
                                        >Remember me</label
                                        >
                                    </div>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <a class="text-muted fs-14" routerLink="/auth/recoverpw"
                                    >Forgot password?</a
                                    >
                                </div>
                            </div>
                            <div class="form-group mb-0 row">
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit" [disabled]="isLoading$ |async">
                                            <span class="spinner-border spinner-border-sm" aria-hidden="true"
                                                  *ngIf="isLoading$ |async"></span>
                                            Log In
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
