<div class="row">
  <div class="col-md-6 col-xl-6">
      <div class="card">
          <div class="card-body">
              <div class="widget-first">
                  
                  <div class="d-flex align-items-center mb-1">
                      <span class="avatar-sm rounded-circle bg-gray d-flex justify-content-center align-items-center me-2">
                          <i class="mdi mdi-currency-usd fs-18 text-dark"></i>
                      </span>
                      <p class="mb-0 text-dark fs-19 fw-medium">Total Revenue</p>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                      <p class="mb-0 text-muted">Total profil over the last 6 month</p>
                  </div>

                  <div class="d-flex align-items-center mt-3">
                      <h3 class="mb-0 fs-22 text-dark me-3">$604,784</h3>
                      <p class="text-muted mb-0 fs-13 d-flex flex-column">
                          <span class="text-primary px-2 py-1 bg-primary-subtle rounded-4 me-2">+12.5%</span> 
                      </p>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-6 col-xl-6">
      <div class="card">
          <div class="card-body">
              <div class="widget-first">

                  <div class="d-flex align-items-center mb-1">
                      <span class="avatar-sm rounded-circle bg-gray d-flex justify-content-center align-items-center me-2">
                          <i class="mdi mdi-account-group fs-18 text-dark"></i>
                      </span>
                      <p class="mb-0 text-dark fs-19 fw-medium">Total Customer</p>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                      <p class="mb-0 text-muted">Total customer over the last 6 month</p>
                  </div>

                  <div class="d-flex align-items-center mt-3">
                      <h3 class="mb-0 fs-22 text-dark me-3">457,800</h3>
                      <p class="text-muted mb-0 fs-13 d-flex flex-column">
                          <span class="text-primary px-2 py-1 bg-primary-subtle rounded-4 me-2">+12.5%</span> 
                      </p>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="col-md-6 col-xl-6">
      <div class="card">
          <div class="card-body">
              <div class="widget-first">

                  <div class="d-flex align-items-center mb-1">
                      <span class="avatar-sm rounded-circle bg-gray d-flex justify-content-center align-items-center me-2">
                          <i class="mdi mdi-wallet fs-18 text-dark"></i>
                      </span>
                      <p class="mb-0 text-dark fs-19 fw-medium">Total Transaction</p>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                      <p class="mb-0 text-muted">Total transaction over the last 6 month</p>
                  </div>

                  <div class="d-flex align-items-center mt-3">
                      <h3 class="mb-0 fs-22 text-dark me-3">637,254</h3>
                      <p class="text-muted mb-0 fs-13 d-flex flex-column">
                          <span class="text-primary px-2 py-1 bg-primary-subtle rounded-4 me-2">+12.5%</span> 
                      </p>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="col-md-6 col-xl-6">
      <div class="card">
          <div class="card-body">
              <div class="widget-first">

                  <div class="d-flex align-items-center mb-1">
                      <span class="avatar-sm rounded-circle bg-gray d-flex justify-content-center align-items-center me-2">
                          <i class="mdi mdi-treasure-chest fs-18 text-dark"></i>
                      </span>
                      <p class="mb-0 text-dark fs-19 fw-medium">Total Product</p>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                      <p class="mb-0 text-muted">Total product over the last 6 month</p>
                  </div>

                  <div class="d-flex align-items-center mt-3">
                      <h3 class="mb-0 fs-22 text-dark me-3">256, 600</h3>
                      <p class="text-muted mb-0 fs-13 d-flex flex-column">
                          <span class="text-primary px-2 py-1 bg-primary-subtle rounded-4 me-2">+12.5%</span> 
                      </p>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="col-md-12 col-xl-12">
      <div class="card bg-discover-img overflow-hidden">
          <div class="card-body position-relative">
              <div class="row">

                  <div class="col-md-6 col-xl-6">
                      <h3 class="text-white fw-semibold fs-24 lh-base">Discover New Features</h3>
                      <p class="text-white fs-14 lh-base">Explore the latest enhancements and functionalities in our platform.</p>
                      <a href="#" class="btn btn-light mb-1">Upgarde Now</a>
                  </div>
                  
                  <div class="col-md-6 col-xl-6">
                      <div class="text-end position-absolute">
                          <img src="assets/images/svg/work-vector.svg" alt="modernize-img" class="img-fluid">
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>

</div>