<breadcrumb [title]="'Dashboard'" />

<div class="row">
  <div class="col-md-12 col-xl-4">
    <app-stats />
  </div>
  <div class="col-md-12 col-xl-8">
    <app-earning-report />
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-4">
    <app-traffic />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-sales-countries />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-visit-device />
  </div>
</div>

<div class="row">
  <div class="col-xl-8">
    <app-compaign-source />
  </div>
  <div class="col-xl-4">
    <app-top-session />
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-top-lead />
  </div>
  <div class="col-md-12 col-xl-6">
    <app-top-perform />
  </div>
</div>
