<breadcrumb [title]="'Dashboard'" />
<app-crm-stat />
<div class="row">
  <div class="col-md-12 col-xl-8">
    <app-sales-overview />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-sales-pipeline />
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-task-list />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-lead-overview />
  </div>
  <div class="col-md-12 col-xl-5">
    <app-latest-transaction />
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <app-recent-performance />
  </div>
  <div class="col-xl-9">
    <app-lead-report />
  </div>
</div>