<div class="modal-header">
    <h1 class="modal-title fs-5" id="standard-modalLabel">
        {{ modalHeader }}
    </h1>
    <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            (click)="modal.close()"
            aria-label="Close"
    ></button>
</div>
<div class="modal-body">
    <form class="row g-3" [formGroup]="form">
        <div class="col-md-6 position-relative">
            <label for="password" class="form-label">{{ 'password' | transloco }}</label>
            <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="form-control"
                    formControlName="password"
                    [ngClass]="{'is-invalid' : form.get('password')?.invalid && ( submitted || form.get('password')?.touched)}"
                    id="password"
                    value="Otto"
            />
            <button
                type="button"
                (click)="showPassword = !showPassword"
                class="btn position-absolute end-0"
                style="
                top: 70%;
                transform: translateY(-50%);
                border: none;
                background: transparent;
                height: auto;
                cursor: pointer;" >
                <i class="mdi" [ngClass]="showPassword ? 'mdi-eye-off' : 'mdi-eye'" style="font-size:16px;"></i>
            </button>
            {{ form.get('password')?.errors | formErrors }}
        </div>
        <div class="col-md-6 position-relative">
            <label for="password_confirmation"
                   class="form-label">{{ 'password_confirmation' | transloco }}</label>
            <input
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    class="form-control"
                    formControlName="password_confirmation"
                    [ngClass]="{'is-invalid' : form.get('password_confirmation')?.invalid && ( submitted || form.get('password_confirmation')?.touched)}"
                    id="password"
                    value="Otto"
            />
            <button
                type="button"
                (click)="showConfirmPassword = !showConfirmPassword"
                class="btn position-absolute end-0"
                style="
                top: 70%;
                transform: translateY(-50%);
                border: none;
                background: transparent;
                height: auto;
                cursor: pointer;" >
                <i class="mdi" [ngClass]="showConfirmPassword ? 'mdi-eye-off' : 'mdi-eye'" style="font-size:16px;"></i>
            </button>
            {{ form.get('password_confirmation')?.errors | formErrors }}
        </div>
    </form>

</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            (click)="modal.close()"
    >
        Close
    </button>
    <button type="button" class="btn btn-light" (click)="sendMail()" [disabled]="combinedLoading$ |async">
        <ng-container *ngIf="isMailSending$ |async">
            <span aria-hidden="true" class="spinner-border spinner-border-sm mr-2"></span>
        </ng-container>
        Send Mail
    </button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="combinedLoading$ |async">
        <ng-container *ngIf="isLoading$ |async">
            <span aria-hidden="true" class="spinner-border spinner-border-sm mr-2"></span>
        </ng-container>
        Save
    </button>
</div>
