<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Upcoming Inverivew</h5>
        </div>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush list-group-no-gutters">

            <!-- List Item -->
            <li class="list-group-item px-0 pt-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                            <img src="assets/images/users/user-12.jpg" class="avatar avatar-sm rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-0 text-dark fs-15">Walter Payne</h6>
                        <span class="fs-13 text-dark">Php Developer</span>
                        <div class="d-flex align-items-center">
                            <span class="fs-13 text-muted fw-medium">Nov 14, 2024</span>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                            <img src="assets/images/users/user-15.jpg" class="avatar avatar-sm rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-0 text-dark fs-15">Billie Hefley</h6>
                        <span class="fs-13 text-dark">Java Developer</span>
                        <div class="d-flex align-items-center">
                            <span class="fs-13 text-muted fw-medium">Nov 17, 2024</span>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                            <img src="assets/images/users/user-11.jpg" class="avatar avatar-sm rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-0 text-dark fs-15">Terrance Tilley</h6>
                        <span class="fs-13 text-dark">React Developer</span>
                        <div class="d-flex align-items-center">
                            <span class="fs-13 text-muted fw-medium">Nov 25, 2024</span>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                            <img src="assets/images/users/user-13.jpg" class="avatar avatar-sm rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-0 text-dark fs-15">Lawrence Schilling</h6>
                        <span class="fs-13 text-dark">Web Developer</span>
                        <div class="d-flex align-items-center">
                            <span class="fs-13 text-muted fw-medium">Dec 08, 2024</span>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0 pb-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center border border-dashed rounded-circle p-1">
                            <img src="assets/images/users/user-9.jpg" class="avatar avatar-sm rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-0 text-dark fs-15">Anna Gonzalez</h6>
                        <span class="fs-13 text-dark">Angular Developer</span>
                        <div class="d-flex align-items-center">
                            <span class="fs-13 text-muted fw-medium">Dec 12, 2024</span>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

        </ul>
    </div>
    
</div>