<div class="card overflow-hidden">

    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Applicants</h5>
        </div>
    </div>

    <div class="card-body mt-0">
        <div class="table-responsive table-card mt-0">
            <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                <thead class="text-muted table-light">
                    <tr>
                        <th scope="col" class="cursor-pointer">Name</th>
                        <th scope="col" class="cursor-pointer">Email</th>
                        <th scope="col" class="cursor-pointer">Departement</th>
                        <th scope="col" class="cursor-pointer">Date</th>
                        <th scope="col" class="cursor-pointer">Status</th>
                        <th scope="col" class="cursor-pointer">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of employees; track $index) {
                    <tr>
                        <td>
                            <img [src]="item.image" class="avatar avatar-sm rounded-circle me-3">
                            {{item.name}}
                        </td>
                        <td>{{item.email}}</td>
                        <td>{{item.department}}</td>
                        <td>{{item.joining_date}}</td>
                        <td>
                            <span class="badge bg-{{item.variant}}-subtle text-{{item.variant}} fs-12 fw-normal">{{item.position}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-icon btn-sm bg-success-subtle text-success me-1">
                                <i class="mdi mdi-check-bold"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-sm bg-danger-subtle text-danger">
                                <i class="mdi mdi-delete"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody><!-- end tbody -->
            </table><!-- end table -->
        </div>
    </div>

</div>