<div class="row">
    @for (item of jobStats; track $index) {
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget-first">

                    <div class="d-flex align-items-center mb-1">
                        <span
                            class="avatar-sm rounded-circle bg-gray d-flex justify-content-center align-items-center me-2">
                            <i class="mdi mdi-shield-account fs-22 text-dark"></i>
                        </span>
                        <p class="mb-0 text-dark fs-19 fw-medium">{{item.title}}</p>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <p class="mb-0 text-muted mt-1">{{item.description}}</p>
                    </div>

                    <div class="d-flex align-items-center mt-3 justify-content-between">
                        <h3 class="mb-0 fs-22 text-dark me-3">{{item.value}}</h3>
                        <p class="text-muted mb-0 fs-13 d-flex flex-column">
                            <span class="text-success px-2 py-1 bg-success-subtle rounded-4 me-2">{{item.growth}}</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    }
</div>