<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Job Applications Statistics</h5>

            <div class="ms-auto" ngbDropdown>
                <button ngbDropdownToggle class="btn btn-sm bg-light border dropdown-toggle fw-medium text-dark"
                    type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weekly<i
                        class="mdi mdi-chevron-down ms-1 fs-14"></i></button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                    <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="job-report" class="apex-charts">
            <apx-chart
            [chart]="jobApplication.chart!"
            [series]="jobApplication.series!"
            [xaxis]="jobApplication.xaxis!"
            [colors]="jobApplication.colors!"
            [plotOptions]="jobApplication.plotOptions!"
            [grid]="jobApplication.grid!"
            [fill]="jobApplication.fill!"
            [dataLabels]="jobApplication.dataLabels!"
            [legend]="jobApplication.legend!"
            [stroke]="jobApplication.stroke!"
          />
        </div>
        
    </div>
</div>