<breadcrumb [title]="'Maps'" [subtitle]="'Vector'" />

<div class="row">
  <!-- Basic Polar Area Charts -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Markers</h5>
      </div>
      <div class="card-body">
        <div id="world-mapline-markers" style="height: 420px">
          <app-world-vector-map
            mapId="world-mapline-markers"
            type="world"
            [options]="worldLineMapConfig"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">World Vector Map with Markers</h5>
      </div>
      <div class="card-body">
        <div
          id="world-map-markers"
          data-colors='["#dee2e6"]'
          style="height: 420px"
        >
          <app-world-vector-map
            mapId="world-map-markers"
            type="world"
            [options]="worldMapMarker"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">World Vector Map with Image Markers</h5>
      </div>
      <div class="card-body">
        <div
          id="world-map-markers-image"
          data-colors='["#f0f4f7"]'
          style="height: 420px"
        >
          <app-world-vector-map
            mapId="world-map-markers-image"
            [options]="worldMapImage"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">USA (Merc En) Vector Map</h5>
      </div>
      <div class="card-body">
        <div id="usa-vectormap" data-colors='["#f0f4f7"]' style="height: 420px">
          <app-world-vector-map
            mapId="usa-vectormap"
            [options]="usaMap"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Canada Vector Map</h5>
      </div>
      <div class="card-body">
        <div
          id="canada-vectormap"
          data-colors='["#f0f4f7"]'
          style="height: 420px"
        >
          <app-world-vector-map
            mapId="canada-vectormap"
            [options]="canadaMap"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Russia Vector Map</h5>
      </div>
      <div class="card-body">
        <div
          id="russia-vectormap"
          data-colors='["#f0f4f7"]'
          style="height: 420px"
        >
          <app-world-vector-map
            mapId="russia-vectormap"
            [options]="russiaMApConfig"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Spain Vector Map</h5>
      </div>
      <div class="card-body">
        <div
          id="spain-vectormap"
          data-colors='["#f0f4f7"]'
          style="height: 420px"
        >
          <app-world-vector-map
            mapId="spain-vectormap"
            [options]="spainMapConfig"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Iraq Vector Map</h5>
      </div>
      <div class="card-body">
        <div
          id="iraq-vectormap"
          data-colors='["#f0f4f7"]'
          style="height: 420px"
        >
          <app-world-vector-map
            mapId="iraq-vectormap"
            [options]="iraqMapConfig"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">US (Lcc-En) Vector Map</h5>
      </div>
      <div class="card-body">
        <div id="us-lcc-vectormap" style="height: 420px">
          <app-world-vector-map
            mapId="us-lcc-vectormap"
            [options]="uslccmap"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">US (Mill En) Vector Map</h5>
      </div>
      <div class="card-body">
        <div id="us-mill-vectormap" style="height: 420px">
          <app-world-vector-map
            mapId="us-mill-vectormap"
            [options]="usmillmap"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
  </div>
</div>
