<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Inverivew Summary</h5>
        </div>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush list-group-no-gutters">

            <!-- List Item -->
            <li class="list-group-item px-0 pt-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center rounded-circle p-1">
                            <img src="assets/images/users/user-19.jpg" class="avatar avatar-xs rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-1 text-dark fs-15">Walter Payne</h6>
                        <div class="d-flex align-items-center">
                            <p class="fs-13 text-muted mb-0 text-nowrap text-truncate"><i class="mdi mdi-timer me-1 text-dark"></i>03 August (10.00am to 10.00am)</p>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center rounded-circle p-1">
                            <img src="assets/images/users/user-20.jpg" class="avatar avatar-xs rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-1 text-dark fs-15">Billie Hefley</h6>
                        <div class="d-flex align-items-center">
                            <p class="fs-13 text-muted mb-0 text-nowrap text-truncate"><i class="mdi mdi-timer me-1 text-dark"></i>06 August (9.00am to 10.30am)</p>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center rounded-circle p-1">
                            <img src="assets/images/users/user-21.jpg" class="avatar avatar-xs rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-1 text-dark fs-15">Terrance Tilley</h6>
                        <div class="d-flex align-items-center">
                            <p class="fs-13 text-muted mb-0 text-nowrap text-truncate"><i class="mdi mdi-timer me-1 text-dark"></i>15 August (2.00pm to 3.30pm)</p>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center rounded-circle p-1">
                            <img src="assets/images/users/user-22.jpg" class="avatar avatar-xs rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-1 text-dark fs-15">Lawrence Schilling</h6>
                        <div class="d-flex align-items-center">
                            <p class="fs-13 text-muted mb-0 text-nowrap text-truncate"><i class="mdi mdi-timer me-1 text-dark"></i>15 November (11.30pm to 12.30pm)</p>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
            <!-- End List Item -->

            <!-- List Item -->
            <li class="list-group-item px-0 pb-0">
                <div class="d-flex align-items-center gap-3">

                    <div class="flex-shrink-0">
                        <!-- Avatar -->
                        <div class="align-content-center text-center rounded-circle p-1">
                            <img src="assets/images/users/user-23.jpg" class="avatar avatar-xs rounded-circle">
                        </div>
                        <!-- End Avatar -->
                    </div>

                    <div class="align-content-center">
                        <h6 class="mb-1 text-dark fs-15">Anna Gonzalez</h6>
                        <div class="d-flex align-items-center">
                            <p class="fs-13 text-muted mb-0 text-nowrap text-truncate"><i class="mdi mdi-timer me-1 text-dark"></i>23 November (5.00pm to 6.30pm)</p>
                        </div>
                    </div>

                    <div class="ms-auto align-content-center">
                        <a href="javascript:void(0);">
                            <span class="badge bg-primary-subtle text-primary fs-12 p-1"> View</span>
                        </a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>