<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0">Browser Status</h5>
        </div>
    </div>

    <div class="card-body">
        <div class="justify-content-center">
            <table class="table table-borderless table-card align-middle mb-0">
                <tbody>
                    <tr>
                        <td class="pt-0">
                            <img src="assets/images/browser/chrome-logo.png" alt="logo">
                        </td>
                        <td class="w-100 pt-0">Google Chrome</td>
                        <td class="text-end pt-0">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">58%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/firefox-logo.png" alt="logo">
                        </td>
                        <td class="w-100">Mozila Firefox</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">45%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/safari-logo.png" alt="logo">
                        </td>
                        <td class="w-100">Apple Safari</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">40%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/edge-logo.png" alt="logo" class="rounded-circle">
                        </td>
                        <td class="w-100">Microsoft edge</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">38%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/opera-logo-1.png" alt="logo">
                        </td>
                        <td class="w-100">Opera mini</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">23%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/brave-logo.png" alt="logo">
                        </td>
                        <td class="w-100">Brave</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">19%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/operaGX-logo.png" alt="logo">
                        </td>
                        <td class="w-100">Opera GX</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">8%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/uc-browser.png" alt="logo">
                        </td>
                        <td class="w-100">UC Browser</td>
                        <td class="ps-0 text-end">
                            <span class="badge bg-primary-subtle text-primary fw-semibold rounded-pill">8%</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>